# Rust
core/target/
core/pkg

# JavaScript
bindings/js/node_modules/
bindings/js/pkg/

# Python
bindings/python/__pycache__/
bindings/python/*.py[cod]
bindings/python/*.egg
bindings/python/*.egg-info/
bindings/python/.coverage
bindings/python/.mypy_cache/
bindings/python/.pytest_cache/
bindings/python/.python-version
bindings/python/build/
bindings/python/dist/
bindings/python/env/
bindings/python/htmlcov/
bindings/python/target/
bindings/python/venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Publish Duplicates
bindings/*/LICENSE
bindings/*/README.md
core/LICENSE
core/README.md
