# Rust
core/target/
bindings/python/target/

# Publish Duplicates
bindings/*/README.md
core/README.md

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.whl

# JavaScript
bindings/js/pkg/
bindings/js/node_modules/

# Maturin
bindings/python/.github/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
